/* головний колір текста #757575
колір заголовків #212121
основний фон #F5F5F5
фон підвала та героя #2F303A
фон секції #F5F4FA
колір акцента #2196F3 
акцент текста #FFFFFF*/

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-text-color: #FFFFFF;
    --accent-background-color: #2F303A;
    --background-color: #F5F5F5;
    --color1: #F5F4FA;      

}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
}

.slogan{
    background-color: var(--accent-background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;      
}

.benefits{
    padding-top: 94px;
    padding-bottom: 94px;
 }

.activity{
    padding-bottom:94px;
}


.team{
    
    padding-bottom: 94px;
}

.examples{
    padding-top: 94px;
    padding-bottom: 94px;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}

body{font-family: 'Roboto', sans-serif;
background-color: var(--background-color);
color: var(--primary-text-color);

}

h1,h2,h3,h4,h5,h6,p,{
    margin-top: 0;
    margin-bottom: 0;
}


.list{
   margin: 0;
   padding: 0;
   list-style: none;
}

/* header styles */

.header{
    border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
}

.logo{
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    width: 145px;
    height: 31px;
    padding-top: 19px;
    padding-bottom: 30px;
     margin-right: 93px;
}
.logo-first{
    color: var(--accent-color);
    
}
.logo-second{
        color: #000000;
    
}
.header-link{
    display: block;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    text-decoration: none;

}

.header-link:hover, .header-link:focus {
    color: var(--accent-color);
} 

.curent{
    display: block;
    color: var(--accent-color);
    letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    text-decoration: none;
}
.curent:hover, .curent:focus{
    color:var(--accent-color)
}


.header-link-contact{
    display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-link-contact:hover, .header-link-contact:focus {
color: var(--accent-color);

}


/* main index styles */
/* hero */


.slogan-title{   
    color: var(--accent-text-color);
        font-weight: 700;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:30px;
        width: 696px;
        height: 120px;
}


.order{
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align: center;
    vertical-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px;32px;
    min-width: 216px;
    cursor: pointer;
    }
 
    
.hidden-title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 


.title{
    color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1,14;
        letter-spacing: 0.03em;
}
.title-decoding{
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
}
.title-second{
    color: var(--title-text-color);
        
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom:50px;
}


.team{
    background-color: var(--color1);
    
} 
.title-name{
    color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.2;
align-items: center;
vertical-align: top;
letter-spacing: 0.03em;
margin-bottom: 10px;
}
.qualification{
font-size: 16px;
line-height: 1.2;
align-items: center;
vertical-align: top;
letter-spacing: 0.03em;
}



/*main Portfolio styles*/
.choice-all, .choice-web, .choice-applications, .choice-design, .choice-marketing
{
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    vertical-align: top;
    letter-spacing: 0.03
    background-color: var(--color1);
    color: var(--title-text-color);
    cursor: pointer;
    border-radius: 4px;
    padding: 6px;22px;
    text-align: center;
    border:1px solid var(--color1)
}
.choice-all{
    min-width: 73px;
}
.choice-web{
    min-width: 125px;
}
.choice-applications{
    min-width: 112px;
}
.choice-design{
    min-width: 112px;
}
.choice-marketing{
    min-width: 130px;
}

.choice-all:hover, .choice-all:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.choice-web:hover, .choice-web:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}
.choice-applications:hover, .choice-applications:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}
.choice-design:hover, .choice-design:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}
.choice-marketing:hover, .choice-marketing:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.picture{
    text-decoration: none;
    display: block;
    margin-bottom: 20px;    
}
.card{
    border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
}
.picture-title{
    
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;  
    margin-bottom: 4px; 
padding-left: 24px;
}

.picture-title-kind{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    padding-bottom: 20px;
    padding-left: 24px;
}



/* footer styles */
footer{
    background-color: var(--accent-background-color);
}
.logo-footer{font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    display: block;
    width: 145px;
    height: 31px;
margin-bottom: 20px;
margin-left: 215px;
   
}
 .footer-adress{
    margin-left: 215px;
 }

.footer-link{
    color: var(--accent-text-color);
    font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
text-decoration: none;
}

.footer-link-contact{
    color: var(--accent-text-color);
    opacity: 0.6;
    font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
text-decoration: none;
}

.footer-link-contact:hover, .footer-link-contact:focus {
    color: var(--accent-color);
}

.footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
    }

footer .logo-second{
    color: var(--accent-text-color);
}
.footer-adress>li{
    margin-bottom: 9px;
}


/* flex index */
.site-nav{
    display: flex;
    align:center
   
}
.site-nav li{
    margin-right: 50px;
    padding-top: 27px;
    padding-left: 27px;
}

.site-nav li:last-child:{
    margin-right: 0;
}

.auth-nav{
    display: flex;
    margin-left: auto;
    }

.auth-nav li{
    margin-right: 50px;
    padding-top: 27px;
    padding-bottom: 37px;
    
 }

 .auth-nav li:last-child:{
    margin-right: 50px;
  }

  .benefits-reestr{
    display: flex;
          
  }

  .benefits-reestr-position{
    width: 270px;       
  }

.benefits-reestr-position:last-child:{
  margin-right: 30px;
}

.action{
    display: flex;
}
.action li{
    display: block;
    margin-right: 30px;
}

.action li:last-child:{
    margin-right: 30px;
}

.team-photo{
    display: flex;
}
.photo-bandit{
    display: block;
    margin-bottom: 30px;
    
}

.bandit{ 
    margin-right: 30px;
    text-align: center;
}
.bandit:last-child:{
    margin-right: 30px;
}

  /* flex portfolio */

.buttons{
    display: flex;
    width: 575px; 
    margin-right: auto;
    margin-left: auto;
   
}

.name-button{
            padding-bottom: 34px;

}

.name-button:last-child:{
    margin-right: 8px;
}


.pict{
    display: flex;
    flex-wrap: wrap;
    
       
}

.picture-box{
    margin-bottom: 30px;
}

.picture-box:not(:nth-child(3n)){
    margin-right: 30px;
}

.picture-box:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}
